#breakTime {
    width : 35px;

}

#contentWrapper {
    padding-top: 60px;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

#content {
    margin-left: 270px;
}

#content table td:last-of-type {
    white-space: nowrap;
}

footer {
    padding-top: .5em;
}

.nav-caption {
    font-weight: bold;
}

.btn-info {
    float: left;
    margin-right: .5em;
}

label[for="fileuploadBtn"] {
    margin-bottom: 10px;
}


.input-tiny {
	width: 40px;
}