#breakTime {
    width : 35px;

}

#contentWrapper {
    padding-top: 60px;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

#content {
    margin-left: 270px;
}

#content table td:last-of-type {
    white-space: nowrap;
}

footer {
    padding-top: .5em;
}

.nav-caption {
    font-weight: bold;
}

.btn-info {
    float: left;
    margin-right: .5em;
}

.input-tiny {
	width: 40px;
}

.bootstrap-filestyle label  {
	margin-bottom: 10px;
}


.floatNextItem {
	float: left;
	margin-right: .5em;
}

#filterForm {
	margin-bottom: 40px;
}

#time {
	font-size: 6rem !important;
	margin: 5px 0 5px 0;
	padding: 50px 0px 80px 0px;
	font-weight:bold; 
	width:100%; 
	display:block;"
}

#start {
	font-weight:bold;
}

#stopWatchControls {
	margin-top: 30px;
	display: none;
}

#projectLabel {
	margin-right: 20px;
	font-size: 31.5px;
	font-style: bold;
}

.table-hover tbody tr:last-child:hover>td, .table-hover tbody tr:last-child:hover>th {
    background-color: #08c; 
}

.resultRow {
	background-color: #08c;
}
