@(id: Long, customerForm: Form[Customer])(implicit flash: Flash, session: Session, lang: Lang)

@import views.html.helper._
@implicitField = @{ FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f) }

@main(title = Messages("customer.edit.title")) {

    @customerForm.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div>
    }

    <form id="form" action="@routes.Customers.update(id)" method="POST">
        <fieldset>
            <legend>@Messages("customer.edit.title")</legend>
            @helper.inputText(customerForm("name"),'_label -> Messages("customer.name"))
            @helper.inputText(customerForm("shortName"),'_label -> Messages("customer.shortname"), 'class -> "input-tiny")
            <div class="floatNextItem">
               @helper.inputText(customerForm("address.street"),'_label -> Messages("customer.street"))
            </div>
            @helper.inputText(customerForm("address.streetNumber"),'_label -> Messages("customer.streetNumber"), 'class -> "input-tiny")
            <div class="floatNextItem">
               @helper.inputText(customerForm("address.city"),'_label -> Messages("customer.city"))
            </div>
            @helper.inputText(customerForm("address.zipCode"),'_label -> Messages("customer.zipCode"), 'class -> "input-mini")
            @helper.inputText(customerForm("invoiceSequence"), '_label -> Messages("customer.invoiceSequence"),'class -> "input-tiny")
            <div class="controls">
                <button type="submit" class="btn btn-primary">@Messages("button.save")</button>
            </div>
        </fieldset>
    </form>

}





