@(customers: List[Customer])(implicit flash: Flash, session:Session)


@main(title = Messages("customer.list.title")) {

    @if(customers.isEmpty) {
        <h3>
            @Messages("customer.list.empty")
        </h3>
    } else {
        <h3>@Messages("customer.list.title")</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("customer.list.shortname")</th>
                    <th>@Messages("customer.list.name")</th>
                    <th>@Messages("customer.list.address")</th>
                    <th>@Messages("customer.list.invoiceSeq")</th>
                    <th>@Messages("list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @customers.map { customer =>
                <tr>
                    <td><span class="badge badge-inverse">@customer.shortName</span></td>
                    <td>@customer.name</td>
                    <td>@customer.address</td>
                    <td>@customer.invoiceSequence</td>
                    <td>
                    	<a class="btn btn-info" href="@routes.Customers.edit(customer.id.get)"><i class="icon-edit icon-white"></i> @Messages("button.edit")</a>
                   		@helper.form(routes.Customers.delete(customer.id.get)) {
                            <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> @Messages("button.delete")</button>
                        }
                    </td>
                </tr>
            }
        </table>

    }

}