@(customers: List[Customer])(implicit flash: Flash, session:Session)


@main(title = "Kunden") {

    @if(customers.isEmpty) {
        <h3>
            Noch keine Kunden angelegt.
        </h3>
    } else {
        <h3>Kunden</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kürzel</th>
                    <th>Name</th>
                    <th>Adresse</th>
                    <th>Rechnungs-Sequenz-Nr</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            @customers.map { customer =>
                <tr>
                    <td><span class="badge badge-inverse">@customer.shortName</span></td>
                    <td>@customer.name</td>
                    <td>@customer.address</td>
                    <td>@customer.invoiceSequence</td>
                    <td>
                    	<a class="btn btn-info" href="@routes.Customers.edit(customer.id.get)"><i class="icon-edit icon-white"></i> Bearbeiten</a>
                   		@helper.form(routes.Customers.delete(customer.id.get)) {
                            <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> Löschen</button>
                        }
                    </td>
                </tr>
            }
        </table>

    }

}