@(customers: List[Customer])(implicit flash: Flash, session:Session, lang: Lang)


@main(title = Messages("customer.list.title")) {
	
	<h3>@Messages("customer.list.title")</h3>
    @if(customers.isEmpty) {
        <div class="alert alert-info">@Messages("customer.list.empty")</div>
    } else {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("customer.list.shortname")</th>
                    <th>@Messages("customer.list.name")</th>
                    <th>@Messages("customer.list.address")</th>
                    <th>@Messages("customer.list.invoiceSeq")</th>
                    <th>@Messages("list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @customers.map { customer =>
                <tr>
                    <td><span class="badge badge-inverse">@customer.shortName</span></td>
                    <td>@customer.name</td>
                    <td>@customer.address</td>
                    <td>@customer.invoiceSequence</td>
                    <td>
                    	<a class="btn btn-info" href="@routes.Customers.edit(customer.id.get)"><i class="icon-edit icon-white"></i></a>
                   		@helper.form(routes.Customers.delete(customer.id.get)) {
                            <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i></button>
                        }
                    </td>
                </tr>
            }
        </table>

    }

}