@(invoiceForm: Form[Invoice], templates: List[Template], defaultDate: String)(implicit flash: Flash, session: Session, lang: Lang)

@import views.html.helper._
@implicitField = @{FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f)}

@headContent = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datepicker.css")">
	<script src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")' type='text/javascript' ></script>
    <script src='@routes.Assets.at("javascripts/bootstrap-datepicker.de.js")' type='text/javascript' ></script>
	<script type="text/javascript">
        $(function() {
            $('.datepicker').datepicker({ language: "de" });
            $("#form").submit(function (event) {
            var date = $('#datepicker').val();
            });
        });
    </script>
}

@main(title = Messages("invoice.create.title"), headContent) {

    @invoiceForm.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div>
    }

    <form id="form" action="@routes.Invoices.submit()" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>@Messages("invoice.create.title")</legend>

            @select(
                invoiceForm("projectId"),
                Project.options,
                '_label -> Messages("workitem.create.project")            
            )
            <label class="control-label" for="date">@Messages("invoice.create.date")</label>
            <input type="text" id="datepicker" name="invoiceDate" data-date-format="dd/mm/yyyy" class="datepicker"  value="@defaultDate">

            @helper.inputText(invoiceForm("totalHours"), '_label -> Messages("invoice.create.totalHours"), 'placeholder -> "100.5", 'class -> "input-mini")
            <div class="controls">
                <button type="submit" class="btn btn-primary">@Messages("button.invoice.create")</button>
            </div>
        </fieldset>
    </form>
}