@(templates: List[InvoiceTemplate])(implicit flash: Flash, session:Session)

@main(title = Messages("template.list.title")) {

    @if(templates.isEmpty) {
        <h3>@Messages("template.list.empty")</h3>
    } else {
        <h3>@Messages("template.list.title")</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("template.list.project.number")</th>
                    <th>@Messages("template.list.file")</th>
                    <th>@Messages("template.list.hourlyRate")</th>
                </tr>
            </thead>
            <tbody>
            @templates.map { template =>
                <tr>
                    <td><span class="badge badge-inverse">@template.project.number</span></td>
                    <td>@template.templateFileKey.getOrElse("-")</td>
                    <td>@template.hourlyRate €</td>
                    <td>
                    @helper.form(routes.InvoiceTemplates.delete(template.id.get)) {
                        <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> @Messages("button.delete")</button>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}