@()(implicit flash: Flash, session:Session, lang: Lang)


@headContent = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/invoiceSurvey.css")">
	<script data-main="/javascripts/angular/app" src='/lib/require.js' type='text/javascript'></script>
}

@main(title = Messages("invoices.survey"), headContent) {

    <div ng-controller="InvoiceListCtrl" class="invoiceForm" ng-cloak>
    	
    	<div class="bar">
			<input type="text" ng-model="query" placeholder="@Messages("invoice.number.filter")" />
			<select ng-model="search.status">
			  <option value="">@Messages("invoice.status.filter")</option>
			  <option value="Created">@Messages("invoice.status.created")</option>
			  <option value="Sent">@Messages("invoice.status.sent")</option>
			  <option value="Paid">@Messages("invoice.status.paid")</option>
			</select>
		</div>
		
		<div class="alert alert-info" ng-show="!(invoices | filter:query | filter: search).length">@Messages("invoices.list.empty")</div>
		
    	<ul>
    		<li ng-repeat="invoice in invoices | filter:query | filter: search | orderBy:orderProp:true" ng-mouseenter="toggleActive(invoice)" ng-mouseleave="toggleActive(invoice)" ng-class="{'active':invoice.active,'paid':invoice.paid}">
    			<div class="btn-group">
				  <button ng-if="invoice.status === 'Created'" ng-click="deleteInvoice(invoice)" class="btn" ng-disabled="!invoice.active"><i class="icon-trash"></i></button>
				  <button ng-if="invoice.status === 'Created'" ng-click="updateInvoiceStatus(invoice, 'Sent')" class="btn" ng-disabled="!invoice.active"><i class="icon-envelope"></i></img></button>
				  <button ng-if="invoice.status === 'Sent'" ng-click="updateInvoiceStatus(invoice, 'Paid')" class="btn" ng-disabled="!invoice.active"><img src="/images/money_bag.png"></img></button>
				</div>
				<div class="clearfix"></div>
    			{{invoice.invoiceDate | date:'dd.MM.yyyy'}}
    			<span id="amount">{{invoice.totalAmount | currency}}</span>
    			<p>{{invoice.number}}</p>
    		</li>
  		</ul>
    </div>
}
