@(templates: List[InvoiceTemplate])(implicit flash: Flash, session:Session)


@main(title = "Vorlagen") {

    @if(templates.isEmpty) {
        <h3>
            Noch keine Vorlagen angelegt.
        </h3>
    } else {
        <h3>Rechnungsvorlagen</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Projekt-Nummer</th>
                    <th>Vorlagen Datei</th>
                    <th>Stundensatz</th>
                </tr>
            </thead>
            <tbody>
            @templates.map { template =>
                <tr>
                    <td><span class="badge badge-inverse">@template.project.number</span></td>
                    <td>@template.templateFileKey.getOrElse("-")</td>
                    <td>@template.hourlyRate €</td>
                    <td>
                    @helper.form(routes.InvoiceTemplates.delete(template.id.get)) {
                        <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> Löschen</button>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}