@(invoiceTemplateForm: Form[InvoiceTemplate], projects: List[Project])(implicit flash: Flash, session:Session)

@import views.html.helper._
@implicitField = @{ FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f) }

    @main(title = "Rechnungs-Vorlage") {

        @invoiceTemplateForm.globalError.map { error =>
            <div class="alert alert-error">
                @error.message
            </div
        }

        <form id="form" action="@routes.InvoiceTemplates.submit()" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Neue Rechnungsvorlage anlegen</legend>
                <label class="control-label" for="templateFile">Vorlagen Datei</label>
                <input type="file" class="filestyle" id="fileuploadBtn" name="templateFile" data-classButton="btn btn-primary">

                @projectSelectBox(projects)
                @helper.inputText(invoiceTemplateForm("hourlyRate"),'_label -> "Stundensatz", 'placeholder -> "65.00")
                @helper.inputText(invoiceTemplateForm("invoiceNumber"),'_label -> "Rechnungsnummer")

                <div class="controls">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </fieldset>
        </form>

    }

    <script src='@routes.Assets.at("javascripts/bootstrap-filestyle-1.0.3.min.js")' type='text/javascript' ></script>





