@(form: Form[(String, String)])(implicit flash: Flash, session:Session, lang: Lang)

@implicitField = @{ helper.FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f) }

@main(title = Messages("login.title")) {

    @form.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div>
    }

    <form id="form" action="@routes.Authentication.login()" method="POST">
        <fieldset>
        <legend>@Messages("login.title")</legend>

		@helper.inputText(form("email"),'_label -> Messages("login.email"))
        @helper.inputPassword(form("password"),'_label -> Messages("login.password"))

        <div class="controls">
           <button type="submit" class="btn btn-primary">@Messages("button.login")</button>
        </div>
        </fieldset>
    </form>
}