@(form: Form[(String, String)])(implicit flash: Flash, session:Session)

@main(title = "Login") {


    @form.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div
    }

    <form class='form-stacked' action="@routes.Authentication.login()" method="POST">
        <h3>Login</h3>

        <div class='cleaner_h20'></div>

        <div class="clearfix">
            <label for="email">Email</label>
            <div class="input">
                <input id="email" name="email" size="30" type="text"/>
            </div>
        </div>

        <div class="clearfix">
            <label for="password">Passwort</label>
            <div class="input">
                <input id="password" name="password" size="30" type="password"/>
            </div>
        </div>

        <div class='cleaner_h20'></div>
        <input type='submit' value='Login' id='signup' name='signup' class="btn btn-primary"/>
    </form>

}