@(projects: List[Project])(implicit flash: Flash, session:Session)

@main(title = Messages("project.list.title")) {
	
	<h3>@Messages("project.list.title")</h3>
    @if(projects.isEmpty) {
        <div class="alert alert-info">@Messages("project.list.empty")</div>
    } else {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("project.list.number")</th>
                    <th>@Messages("project.list.description")</th>
                    <th>@Messages("project.list.customer.name")</th>
                    <th>@Messages("list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @projects.map { project =>
                <tr>
                    <td><span class="badge badge-inverse">@project.number</span></td>
                    <td>@project.description</td>
                    <td>@project.customer.name</td>
                    <td>
                    @helper.form(routes.Projects.delete(project.id.get)) {
                        <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i></button>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}