@(projects: List[Project])(implicit flash: Flash, session:Session)


@main(title = "Projekte") {

    @if(projects.isEmpty) {
        <h3>
            Noch keine Projekte angelegt.
        </h3>
    } else {
        <h3>Projekte</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Beschreibung</th>
                    <th>Kunde</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            @projects.map { project =>
                <tr>
                    <td><span class="badge badge-inverse">@project.number</span></td>
                    <td>@project.description</td>
                    <td>@project.customer.name</td>
                    <td>
                    @helper.form(routes.Projects.delete(project.id.get)) {
                        <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> Löschen</button>
                    }
                    </td>
                </tr>
            }
        </table>
    }

}