@(id: Long, projectForm: Form[Project])(implicit flash: Flash, session: Session, lang: Lang)

@import views.html.helper._
@implicitField = @{ FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f) }


@main(title = Messages("project.create.title")) {

    @projectForm.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div>
    }

    <form id="form" action="@routes.Projects.update(id)" method="POST">
        <fieldset>
           <legend>@Messages("project.create.title")</legend>
           @helper.inputText(projectForm("number"),'_label -> Messages("project.create.number"))
           @helper.textarea(projectForm("description"),'_label -> Messages("project.create.description"))
           
           @select(projectForm("customerId"), Customer.options,'_label -> Messages("project.create.customer"))
           @select(projectForm("invoiceTemplateId"), Template.options,
           	'_label -> Messages("project.create.invoiceTemplate"), '_default -> Messages("template.default"))
           @select(projectForm("reportTemplateId"), Template.options,
           	'_label -> Messages("project.create.reportTemplate"), '_default -> Messages("template.default"))
           @helper.inputText(projectForm("hourlyRate"),'_label -> Messages("project.create.hourlyRate"),'class -> "input-mini")
           <div class="controls">
              <button type="submit" class="btn btn-primary">@Messages("button.save")</button>
           </div>
        </fieldset>
    </form>
}