@(templates: List[Template])(implicit flash: Flash, session:Session)

@main(title = Messages("template.list.title")) {

	<h3>@Messages("template.list.title")</h3>
    @if(templates.isEmpty) {
        <div class="alert alert-info">@Messages("template.list.empty")</div>
    } else {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("template.name")</th>
                    <th>@Messages("template.key")</th>
                    <th>@Messages("list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @templates.map { template =>
                <tr>
                    <td><span class="badge badge-inverse">@template.name</span></td>
                    <td>@template.key</td>
                    <td>
                    @helper.form(routes.Templates.delete(template.id.get)) {
                        <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i></button>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}