@()(implicit flash: Flash, session: Session, lang: Lang)

@import play.api.i18n.Messages
@import views.html.helper._
@import org.joda.time.DateTime
@implicitField = @{ helper.FieldConstructor(views.html.helper.twitterBootstrapFieldConstructor.f) }

@headContent = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/workItemQuickTrack.css")">
	<script src='@routes.Assets.at("javascripts/moment-2.3.1.min.js")' type='text/javascript' ></script>
	<script src='@routes.Assets.at("javascripts/handlebars-1.0.0.min.js")' type='text/javascript' ></script>
	<script src='@routes.Assets.at("javascripts/stopwatch.js")' type='text/javascript' ></script>
	<script src='@routes.Assets.at("javascripts/quick_track.js")' type='text/javascript' ></script>
}

@main(title = Messages("index.title"), headContent) {
	<div class="span5">
	  <h2 class="fadeOutOnStart">@Messages("workitem.quicktrack.headline")</h2>
	  <div class="form-inline">
		  <label id="projectLabel" for="project" class="control-label">@Messages("workitem.create.project")</label>
		  <select id="projectSelect" name="project">
	  		@for(project <- Project.options) {
		  		<option value="@project._1">@project._2</option>
		    }
		  </select>
	  </div>
	  <div id="time">00:00:00</div>
	  <button id="start" class="btn btn-block btn-primary"  data-do="start" type="button">@Messages("workitem.quicktrack.button.start")</button>
	  <div id="stopWatchControls" class="controls controls-row"">
	    <span class="span5">
	      <button id="save" class="btn btn-block btn-inverse" type="button" data-toggle="modal" data-target="#saveModal">
	        Save
	      </button>
	    </span>
	    <span class="span3 pull-right">
	      <button id="reset" class="btn btn-block btn-inverse" type="button">
	        <i class="icon-repeat icon-white">
	        </i>
	        Reset
	      </button>
	    </span>
	  </div>
	</div>
	
	<div id="saveModal" class="modal hide fade">
	  <form id="form">
	  <div class="modal-header">
	    <button type="button" class="close" aria-hidden="true">
	      &times;
	    </button>
	    <h3>@Messages("workitem.quicktrack.save.headline")</h3>
	  </div>
	  <div class="modal-body">
	  		<div class="control-group">
	  			<label class="control-label" for="duration">@Messages("workitem.quicktrack.workTime")</label>
	  			<div class="controls">
	  				<input id="duration" type="text" name="duration" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" title="Time format: HH:MM:SS">
         		</div>
         	</div>
         	<div class="control-group">
         		<label class="control-label">@Messages("workitem.create.project")</label>
         		<div class="controls">
         			<input id="projectDisplay" class="uneditable-input"></input>
         		</div>
         	</div>
         	<div class="control-group">
            	<div class="controls">
            		<textarea id="description" rows="3" placeholder='@Messages("workitem.quicktrack.description.placeholder")'></textarea>
           		</div>
            </div>
	  </div>
	  <div class="modal-footer">
	  	<a id="closeButton" href="#" class="btn">@Messages("button.close")</a>
	    <button id="simpleWorkItemSaveBtn" type="submit" class="btn btn-primary">@Messages("button.save")</button>
	  </div>
	  </form>
	</div>
	
	<script id="success-template" type="text/x-handlebars-template">
  		<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
                @Messages("workitem.create.success")
        </div>
	</script>
	

}
