@(workItems: List[WorkItem])(implicit flash: Flash, session: Session)

@import utils._

@main(title = Messages("workitem.list.title")) {

    @if(workItems.isEmpty) {
        <h3>@Messages("workitem.list.empty")</h3>
    } else {
        <h3>@Messages("workitem.list.title")</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("workitem.date")</th>
                    <th>@Messages("workitem.start")</th>
                    <th>@Messages("workitem.end")</th>
                    <th>@Messages("workitem.break")</th>
                    <th>@Messages("workitem.totalTime")</th>
                    <th>@Messages("workitem.description")</th>
                    <th>@Messages("list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @workItems.map { work =>
                <tr>
                    <td>@FormatUtil.formatDate(work.startTime)</td>
                    <td>@FormatUtil.formatTime(work.startTime)</td>
                    <td>@FormatUtil.formatTime(work.endTime)</td>
                    <td>@work.breakTime min</td>
                    <td>@work.totalTime.getHours:@work.totalTime.getMinutes</td>
                    <td>@work.description</td>
                    <td>
                        <div class='btn btn-info'><i class="icon-edit icon-white"></i> @Messages("button.edit")</div>
                        @helper.form(routes.WorkItems.delete(work.id.get)) {
                            <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> @Messages("button.delete")</button>
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="btn-group">
            <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
                @Messages("workitem.list.export")
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.WorkItems.export()" target="_blank">@Messages("workitem.list.export.last")</a></li>
                <li><a href="@routes.WorkItems.export()" target="_blank">@Messages("workitem.list.export.current")</a></li>
            </ul>
        </div>
    }
}