@(workItems: List[WorkItem])(implicit flash: Flash, session: Session)

@import utils._

@main(title = "Arbeitszeiten") {


    @if(workItems.isEmpty) {
        <h3>
            Noch keine Arbeitszeiten angelegt.
        </h3>
    } else {
        <h3>Arbeitszeiten</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Von</th>
                    <th>Bis</th>
                    <th>Pause</th>
                    <th>Gesamtzeit</th>
                    <th>Beschreibung</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            @workItems.map { work =>
                <tr>
                    <td>@FormatUtil.formatDate(work.startTime)</td>
                    <td>@FormatUtil.formatTime(work.startTime)</td>
                    <td>@FormatUtil.formatTime(work.endTime)</td>
                    <td>@work.breakTime min</td>
                    <td>@work.totalTime.getHours:@work.totalTime.getMinutes</td>
                    <td>@work.description</td>
                    <td>
                        <div class='btn btn-info'><i class="icon-edit icon-white"></i> Bearbeiten</div>
                        @helper.form(routes.WorkItems.delete(work.id.get)) {
                            <button type="submit" class='btn btn-danger'><i class="icon-trash icon-white"></i> Löschen</button>
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="btn-group">
            <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
                Export
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.WorkItems.export()">Letzter Monat</a></li>
                <li><a href="@routes.WorkItems.export()">Aktueller Monat</a></li>
            </ul>
        </div>

    }


}